# Falcon SECRET Information
export FALCON_CID="aaaaaaaaaaaaaaaaa"
export FALCON_CID_CHKSUM="${FALCON_CID}-aa"
export FALCON_API_CLIENT_ID=bbbbbbbbbbbbbb
export FALCON_API_CLIENT_SECRET=cccccccccccccccccc

